@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#root{
    height: 100%;
}

.fullHeight{
    height: 100%; 
    padding: 0 !important;
    margin: 0 !important;
}

.col-13{
    width: 50%;
}

.primary-color{
    color: #3596C1;
}

.primary-bg{
    background-color: #3596C1 !important;
}

.primary-button{
    background-color: #3596C1 !important;
    transition: 0.3s all ease-in-out;
}

.primary-button:hover{
    opacity: 0.7;
}

.heroImg{
    height: 100%;
    background-image: url("./Assets/Images/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    transition: 0.3s all ease-in-out;

}

a:hover{
    opacity: 0.8;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}