@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    margin: 0;
}

#root{
    height: 100%;
}


.fullHeight{
    height: 100%; 
    margin: 0 !important;
    padding: 0 !important;
}

.col-13{
    width: 50%;
}

.primary-color{
    color: #3596C1;
}

.primary-bg{
    background-color: #3596C1 !important;
}

.primary-button{
    background-color: #3596C1 !important;
    transition: 0.3s all ease-in-out;
}

.primary-button:hover{
    opacity: 0.7;
}

.heroImg{
    height: 100%;
    background-image: url("./Assets/Images/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    transition: 0.3s all ease-in-out;

}

a:hover{
    opacity: 0.8;
}


.tableData{
    transition: all 0.3s ease-in;

}
.tableData:hover{
    color: #3596C1;
    cursor: pointer;
    text-decoration: underline;

}

.moduleNav{
    color: white;
    text-decoration: none;
    opacity: 0.8;
    display: inline-block;
    position: relative;
    padding-bottom: 2px ;
}

.moduleNav::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  /* padding-bottom: 0; */
  height: 2px;
  bottom: 0;
  top: 28px;
  left: 0;
  background-color: white;
  /* transform-origin: bottom right; */
  transition: transform 0.25s ease-out;
}

.moduleNav:hover{
    opacity: 1;
    color: white;
}

.moduleNav:hover::after{
    transform: scaleX(1);
  transform-origin: bottom left;
}

.navButton{
    background-color: white;
    color: #3596C1;
    border: 2px solid #3596C1;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 12px;
    transition: 0.3s all ease-in-out;
}

.navButton:hover{
    /* border: white; */
    border: 2px solid white;
    background-color: #3596C1;
    color: white;
}

.question{
    width: 85%;
}

.circle{
    background-color: white;
    color: #3596C1;
    width: 10%;
    height: 20%;
    padding: 45px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle p , .circle-feedback p {
    margin : 0
}

.circle-feedback{
    background-color: white;
    color: #3596C1;
    width: 13%;
    height: 15%;
    padding: 35px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}